.upload {
  font: inherit;
  border: 1px solid #333333;
  background: #1b1b1b;
  color: white;
  padding: 0.75rem 3.5rem;
  cursor: pointer;
  font-size: 1.15rem;
  border-radius: 30px;
}

.upload:hover,
.upload:active {
  background: #474747;
  border-color: #575757;
}

.upload:focus {
  outline: none;
}

upload:disabled,
upload:focus:disabled,
upload:hover:disabled,
upload:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
